In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg

Spark Session: We initialize the Spark session, which is required to work with DataFrames and Spark SQL.

In [2]:
# Step 1: Initialize Spark Session
spark = SparkSession.builder.appName("DataFrame_and_SQL_Example").getOrCreate()

	Load Data: Create a Spark DataFrame from a list of tuples with defined column names.

In [3]:
# Step 2: Load Data into a DataFrame
# We'll use a sample dataset of employee information for demonstration
data = [
    ("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Marketing", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Finance", 3300),
]
columns = ["Employee_Name", "Department", "Salary"]
df = spark.createDataFrame(data, schema=columns)

DataFrame Operations: We group data by “Department” and calculate the average salary using Spark’s built-in functions.

In [ ]:
# Step 3: Perform DataFrame Operations
# Calculate the average salary by department
avg_salary_df = df.groupBy("Department").agg(avg("Salary").alias("Average_Salary"))
avg_salary_df.show()

Register as Temporary Table: Using createOrReplaceTempView, we register the DataFrame as a temporary SQL table.

In [5]:
# Step 4: Register DataFrame as Temporary Table
# This allows us to query it with SQL
df.createOrReplaceTempView("employees")

Run SQL Query: Run an SQL query on the registered table to select employees in the “Sales” department with a salary above 3500.

In [ ]:
# Step 5: Run SQL Queries
# SQL query to find employees in the Sales department with a salary greater than 3500
sales_employees_df = spark.sql("SELECT Employee_Name, Salary FROM employees WHERE Department = 'Sales' AND Salary > 3500")
sales_employees_df.show()

In [7]:
# Stop the Spark session
spark.stop()